[dir="rtl"] {
    .sidebar.sidebar-right,
    .fm-sidebar {
        transform: translate(-100%, 0);
    }

    .main-sidemenu i.angle {
        transform: rotate(180deg);
    }

    .sub-slide.is-expanded .sub-angle {
        transform: rotate(90deg);
    }

    .sub-slide2.is-expanded .sub-angle2 {
        transform: rotate(90deg);
    }

    .fc-direction-ltr {
        direction: rtl;

        .fc-button .fc-icon {
            transform: rotate(180deg);
        }
    }

    #projectReport {
        .apexcharts-yaxis-texts-g text {
            transform: translate(0, 0px);
        }
    }

    .apexcharts-yaxis-texts-g text {
        transform: translate(-70px, 0px);
    }

    .pagination .page-item .page-link i {
        transform: rotate(180deg);
    }

    .badge-top {
        transform: translate(50%, -50%);
    }

    .carousel .carousel-control-next i,
    .carousel .carousel-control-prev i {
        transform: rotate(180deg);
    }

    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(100%) !important;
    }

    .active.carousel-item-end {
        transform: translateX(-100%) !important;
    }

    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
    }

    .vtimeline .timeline-wrapper .timeline-badge {
        transform: translateX(50%);
    }

    .image-attach .attach-options {
        transform: translateX(50%);
    }

    .smartphoto-arrow-right a,
    .smartphoto-arrow-left a {
        transform: rotate(180deg);
    }

    .was-validated .form-control:invalid,
    .form-control.is-invalid,
    input.form-control.parsley-error,
    textarea.form-control.parsley-error {
        background-position: center left calc(0.375em + 0.1875rem);
    }

    .was-validated .form-control:valid,
    .form-control.is-valid,
    input.form-control.parsley-success,
    textarea.form-control.parsley-success {
        background-position: center left calc(0.375em + 0.1875rem);
    }

    [type="email"],
    [type="number"],
    [type="tel"],
    [type="url"] {
        direction: rtl;
    }

    .slide-right svg,
    .slide-left svg {
        transform: rotate(180deg);
    }

    .select2-dropdown {
        direction: ltr !important;
        text-align: end;

        .select2-results__option {
            direction: rtl !important;
        }
    }

    .tabs-style6 {
        .nav-tabs {
            .nav-item {
                .nav-link {
                    direction: initial;
                }
            }
        }
    }

    .dropdown-menu {
        direction: rtl !important;
    }

    .smartphoto {
        direction: ltr !important;
    }

    #basicSlider .MS-content {
        direction: ltr;
    }

    .pcr-app {
        direction: ltr;
    }

    .tooltip.show {
        direction: ltr;
    }

    .tooltip-static-demo .tooltip {
        direction: ltr;
    }

    .bs-popover-end > .popover-arrow,
    .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow,
    .bs-popover-start > .popover-arrow,
    .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow {
        direction: ltr;
    }

    .irs-from,
    .irs-to,
    .irs-single {
        inset-inline-start: auto;
    }

    .leaflet-pane,
    .leaflet-tile,
    .leaflet-marker-icon,
    .leaflet-marker-shadow,
    .leaflet-tile-container {
        inset-inline-end: 0;
        inset-inline-start: auto;
    }

    .smartphoto-arrows {
        .smartphoto-arrow-left {
            transform: rotate(180deg);
        }
        .smartphoto-arrow-right {
            transform: rotate(180deg);
        }
    }
    .product-card:hover .product-options {
        opacity: 1;
        transform: translate(50%, -50%);
    }

    .apexcharts-canvas .apexcharts-tooltip-series-group {
        text-align: right;
        justify-content: right;
    }

    .apexcharts-canvas .apexcharts-tooltip-marker {
        margin-left: 10px;
        margin-right: inherit;
        border-radius: 50%;
    }
    .tree .si-arrow-right-circle {
        transform: rotate(180deg);
    }
    .dropdown-menu-start .dropdown-item i {
        float: right;
    }
    .breadcrumb-style2 .breadcrumb-item + .breadcrumb-item::before {
        padding-inline-start: 0.5rem;
        transform: rotate(180deg);
        padding-inline-end: inherit;
    }
    .breadcrumb-style3 .breadcrumb-item + .breadcrumb-item::before {
        padding-inline-start: 0.5rem;
        transform: rotate(180deg);
        padding-inline-end: inherit;
    }
    .lds-heart {
        transform: rotate(316deg);
    }
    .irs {
        direction: ltr;
    }
    .happy-clients-section .carousel .carousel-control-prev {
        inset-inline-end: 2%;
        inset-inline-start: inherit;
    }
    .happy-clients-section .carousel .carousel-control-next {
        inset-inline-start: 2%;
    }
    .happy-clients-section .container .carousel-control-next i {
        transform: rotate(360deg);
    }
    .happy-clients-section .container .carousel-control-prev i {
        transform: rotate(360deg);
    }
    .landing-layout .sidemenu-landing {
        transform: translate(100%, 0);
    }
}
